@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.main__titulo {
  color: #EDAD13;
  text-align: center;
  padding-bottom: 15px; }

.main__parrafo1, .main__parrafo2 {
  padding: 20px 10px; }

.main__parrafo3 {
  padding: 20px 10px;
  font-size: smaller;
  text-align: center; }

.productos__item {
  display: inline-block;
  padding: 20px 10px; }

.productos__item--img {
  width: 180px;
  padding-bottom: 15px; }
  .productos__item--img:hover {
    transform: scale(1.3); }

.anuncios {
  margin: 10px; }

.anuncios__titulo {
  font-weight: 400; }

.anuncios__parrafo {
  color: #999999; }
