
/*body{
	font-family: 'Overpass', sans-serif;
	font-weight: 400;
}*/

.homePage {
	display: grid;
	grid-template-areas: 
	"header header header"
	"banner banner banner"
	"main main aside"
	"footer footer footer";
	grid-template-columns: 2fr 2fr 1fr;
	grid-template-rows: 0.4fr 1fr 1fr 100px;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	justify-content: center;
}

.prodPage {
	display: grid;
	grid-template-areas:
	"header header header"
	"filter main main"
	"footer footer footer";
	grid-template-columns: 1fr 2fr 2fr;
	grid-template-rows: 0.4fr 2fr 100px;
	grid-column-gap: 10px;
	grid-row-gap: 5px;
	justify-content: center;
}

.contactPage {
	display: grid;
	grid-template-areas:
	"header header header"
	". mainForm mainForm"
	"footer footer footer";
	grid-template-columns: 1fr 2fr 2fr;
	grid-template-rows: 0.4fr 2fr 0.3fr;
	grid-column-gap: 10px;
	grid-row-gap: 5px;
	justify-content: center;
}

.aboutPage {
	display: grid;
	grid-template-areas:
	"header header header"
	"main main main"
	"footer footer footer";
	grid-template-columns: 1fr 2fr 2fr;
	grid-template-rows: 0.4fr 2fr 0.5fr;
	grid-column-gap: 10px;
	grid-row-gap: 5px;
	justify-content: center;
}

.header {
	grid-area: header;
	padding-bottom: 0px;
	border-style: none;
	background-color: snow;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-style: none;
}

.banner{
	grid-area: banner;
	margin-top: 10px; 
	border-style: none;
}

.main{
	grid-area: main;
	border-style: none;
}

.mainForm{
	grid-area: mainForm;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	margin-top:  20px;
}

.aside {
	grid-area: aside;
	border-style: none;
}

.filter {
	grid-area: filter;
	display: flex;
	flex-direction: column;

}

.footer{
	grid-area: footer;
	border-style: solid;
	background-color: lightgrey;
}

.header img{
	width: 200px;
}

.productos {
	width: 80%;
	max-width: 1200px;
	margin: auto;
}

.elemento {
	display: inline-block;
	padding: 20px 10px;
}

.elemento img{
	width: 150px;
	padding-bottom: 15px;
}


.formulario{
	color: black;
	font-family: sans-serif;
	font-size: 14px;
	max-width: 1200px;
	margin: auto;
	margin: 10px;
}

.formulario input{
	display: inline-block;
	margin-bottom: 15px;
}

.formulario label{
	display: block;
	margin-bottom: 5px;
}

.titulo{
	text-align: center;
	padding-bottom: 15px;
	font-size: medium;
}


/* Media queries */

@media screen and (max-width: 576px){

	.homePage{
		display: grid;
		grid-template-areas: 
		"header"
		"banner"
		"main" 
		"aside"
		"footer";
		grid-template-columns: 12fr;
		grid-template-rows: 0.3fr 0.5fr 1fr 0.5fr 0.5fr;
		max-width: auto;
	}

	.header {
		grid-area: header;
		display: flex;
		flex-direction: column;
	}

	.header img{
		width: 100px;
	}

	.aside {
		grid-area: aside;
		border-style: none;
	}
}