
.mainTitulo{
	color: $bg-warning;
	text-align: $text-center;
	padding-bottom: $pb-15;
}

.mainParrafo1, .mainParrafo2{
	padding: $padding;
}

.mainParrafo3{
	padding: $padding;
	font-size: smaller;
	text-align: $text-center;
}

.productos__item{
	display: inline-block;
	padding: $padding;
}

.productos__item--img{
	width: $width;
	padding-bottom: $pb-15;
	
	&:hover{
		transform: scale($scale);
	}
}

.anuncios{
	margin: $margin;
	display: flex;
	flex-direction: column;
}

.anunciosTitulo{
	font-weight: $font-weight;
}

.anunciosParrafo{
	color: $grey;
	display: flex;
	flex-direction: column;
}

.homePage {
	display: grid;
	grid-template-areas: 
	"header header header"
	"banner banner banner"
	"main main aside"
	"footer footer footer";
	grid-template-columns: 3fr 3fr 1fr;
	grid-row-gap: 5px;
	justify-content: center;
}

.prodPage {
	display: grid;
	grid-template-areas:
	"header header header"
	"filter main main"
	"footer footer footer";
	grid-template-columns: 1fr 2fr 2fr;
	grid-column-gap: 10px;
	grid-row-gap: 5px;
	justify-content: center;
}

.serviciosPage {
	display: grid;
	grid-template-areas:
	"header header header"
	"filter main main"
	"footer footer footer";
	grid-template-columns: 1fr 2fr 2fr;
	grid-template-rows: 0.4fr 2fr 100px;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	justify-content: center;
}

.contactPage {
	display: grid;
	grid-template-areas:
	"header header header"
	". mainForm ."
	"footer footer footer";
	grid-template-columns: 2fr 2fr 2fr;
	grid-column-gap: 10px;
	grid-row-gap: 5px;
	justify-content: center;
}

.aboutPage {
	display: grid;
	grid-template-areas:
	"header header header"
	"main main main"
	"footer footer footer";
	grid-template-columns: 1fr 2fr 2fr;
	grid-column-gap: 10px;
	grid-row-gap: 5px;
	justify-content: center;
}

.header {
	grid-area: header;
	padding-bottom: 0px;
	background-color: $beige;
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	height: 150px;
}

.banner{
	grid-area: banner;
	height: 400px;
	overflow: hidden;
}

.main{
	grid-area: main;
	height: auto;
}

.mainForm{
	grid-area: mainForm;
	display: flex;
	flex-direction: column;
	margin-bottom: $m-20;
	margin-top:  $m-20;
}

.aside {
	grid-area: aside;
	height: auto;
}

.filter {
	grid-area: filter;
	display: flex;
	flex-direction: column;
}

.footer{
	grid-area: footer;
	border-style: solid;
	background-color: lightgrey;
	display: grid;
	grid-template-areas: "redes datos .";
	grid-template-columns: 3fr 3fr 3fr;
	height: 100px;
}

.footerRedes{
	grid-area: redes;
	display: flex;
	flex-direction: row;
}

.footerDatos{
	grid-area: datos;
	font-family: Arial;
	font-style: italic;
	font-size: 0.8rem;
	text-align: center;
	line-height: 4px;
	padding-top: 20px;
}

.header img{
	width: 200px;
}

.productos {
	width: 80%;
	max-width: 1200px;
	margin: auto;
}

.elemento {
	display: inline-block;
	padding: $padding;
}

.elemento img{
	width: 150px;
	padding-bottom: $pb-15;
}


.formulario{
	color: black;
	font-family: $fontMain;
	font-size: 1rem;
	max-width: 1200px;
	margin: 10px;
}

.formulario input{
	display: inline-block;
	margin-bottom: $pb-15;
}

.formulario label{
	display: block;
	margin-bottom: 5px;
}

.titulo{
	text-align: center;
	padding-bottom: $pb-15;
	font-size: smaller;
}

.nav-item a:hover{
	background-color: #5f9fff;
	color: white;
	background-size: 100% 2px;
}

.img-400 {
	width: 400px;
	margin: auto;
	display: block;
}


/* Media queries */
// TODO: Faltan crear mediaqueries para las demas paginas y breakpoints 

@media screen and (max-width: 576px){

	.homePage{
		display: grid;
		grid-template-areas: 
		"header"
		"banner"
		"main" 
		"aside"
		"footer";
		grid-template-columns: 12fr;
		grid-template-rows: 0.3fr 0.5fr 1fr 0.5fr 0.5fr;
		justify-content: center;
	}

	.aboutPage {
		display: grid;
		grid-template-areas:
		"header"
		"main"
		"footer";
		grid-template-columns: 12fr;
		grid-template-rows: 0.4fr 2fr 200px;
		grid-row-gap: 10px;
		justify-content: center;
	}

	.header {
		grid-area: header;
		display: flex;
		flex-direction: column;
	}

	.header img{
		width: 100px;
	}

	.aside {
		grid-area: aside;
	}

	.footer{
		display: flex;
		flex-direction: column;
	}
}