// variables 
$bg-warning:#EDAD13;
$bg-success:#36F328;
$bg-info:#3ABFDC;
$bg-white: #FFFFFF;
$blue: #20ffff;
$grey: #999999;
$beige: #FFFFCC;
$width: 180px;
$font-weight: 400;
$padding: 20px 10px;
$pb-15: 15px;
$pt-10: 10px;
$pb-10: 10px;
$margin: 10px;
$m-20: 20px;
$text-center: center;
$scale: 1.3;