<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de Nosotros</title>
    <meta charset=utf-8>

    <!-- Style sheets -->
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
</head>

<body>
    <div class="aboutPage">
        <header class="header">
            <a href="../index.html"><img src="../media/logo.jpg" alt="Logo tienda" /></a>
            <div>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="productos.html">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="servicios.html">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="acerca.html">Acerca</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contacto.html">Contacto</a>
                    </li>
                </ul>
            </div>
        </header>

        <section class="main">
            <h3 class="mainTitulo">ANIMANIA</h3>
            <H3 class="mainTitulo">Nunca te quedes sin comida!!!</H3>
            <article class="mainParrafo1">
                Con Animania te envíamos a tu casa o retira en nuestras sucursal la comida favorita de tu mascota, con
                la tranquilidad de saber que te la reserva y te recuerda en el tiempo indicado para reordenar el
                alimento para tu mascota. ¡Con Animania evitarás las búsquedas de último momento y nunca más te faltará
                el alimento favorito de tu mascota!
            </article>

            <article class="mainParrafo2">
                Estamos para ayudarte en lo que necesites. Puedes contactarnos en el Chat Online donde uno de nuestros
                operadores te ayudará, o puedes llamarnos al +57-1-1234567 de Lunes a Sábado de 8:00hs a 20:00hs y
                Feriados 9:00hs a 17:00hs
                Tambien puedes escribirnos a servicioalcliente@animania.com.co y te responderemos a la brevedad, o
                puedes visitarnos en alguna de nuestras Sucursales.
            </article>

            <article class="mainParrafo3" s>
                <img class="img-400" src="../media/gatos-grupo.jpg" alt="Gaticos">
            </article>
        </section>

        <footer class="footer">
            <div class="footerRedes">
                <p>SIGUENOS:</p>
                <a href="#"><img src="../media/facebook.png" alt="facebook logo"></a>
                <a href="#"><img src="../media/twitter.png" alt="twitter logo"></a>
                <a href="#"><img src="../media/youtube.png" alt="youtube logo"></a>
            </div>
            <div class="footerDatos">
                <p>Dirección: Carrera 52D # 75 AA Sur - 280, Itaguí, Antioquia</p>
                <p>Telefono: +57-1-1234567 </p>
                <p>WhatsApp: +57 3112234567</p>
            </div>
        </footer>

    </div>

</body>

</html>