<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Acerca de Nosotros</title>
    <meta charset=utf-8>

    <!-- Style sheets -->   
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
</head>

<body>
    <div class="aboutPage">
        <header class="header">
            <a href="../index.html"><img src="../media/logo.jpg" alt="Logo tienda" /></a>
            <div>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                    <a class="nav-link" href="../index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="productos.html">Productos</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="servicios.html">Servicios</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link active" href="acerca.html">Acerca</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="contacto.html">Contacto</a>
                    </li>
                </ul>
            </div>
        </header>

        <section class="main">
        	<h3 class="main__titulo">ANIMANIA</h3>
        	<H3 class="main__titulo">Nunca te quedes sin comida!!!</H3>
        	<article class="main__parrafo2">
        	   Con Animania te envíamos a tu casa o retira en nuestras sucursal la comida favorita de tu mascota, con la tranquilidad de saber que te la reserva y te recuerda en el tiempo indicado para reordenar el alimento para tu mascota. ¡Con Animania evitarás las búsquedas de último momento y nunca más te faltará el alimento favorito de tu mascota!
        	</article>

            <article class="main__parrafo2">
                Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Aliquam harum aspernatur dicta, veritatis cumque culpa inventore totam architecto sequi cum obcaecati rerum quasi vel unde fugit consequatur, facere, ipsam sapiente?
            </article>
            
            <article class="main__parrafo3"s>
                <p>Dirección: Cll 100 # 12 - 23, Medellin COL</p>
                <p>Telefono: 1234567</p>
                <p>WhatsApp: +57 7654321</p>
            </article>
        </section>

        <footer class="footer">
            <p>SIGUENOS:</p>
            <a href="#"><img src="../media/facebook.png" alt="facebook logo"></a>
            <a href="#"><img src="../media/twitter.png" alt="twitter logo"></a>
            <a href="#"><img src="../media/youtube.png" alt="youtube logo"></a>
                </footer>

    </div>

<!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>