<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Productos</title>

	<!-- Style sheets -->
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
</head>

<body>
	<div class="prodPage">
		<header class="header">
			<a href="../index.html"><img src="../media/logo.jpg" alt="Logo tienda" /></a>
			<div>
				<ul class="nav nav-pills">
					<li class="nav-item">
						<a class="nav-link" href="../index.html">Inicio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="productos.html">Productos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="servicios.html">Servicios</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="acerca.html">Acerca</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="contacto.html">Contacto</a>
					</li>
				</ul>
			</div>
		</header>

		<section class="filter">
			<div class="formulario">
				<h3 class="titulo">Filtros de Busqueda</h3>

				<input type="text" placeholder="Buscar">

				<label for="radio1">Comida para:</label>
				<input type="radio" name="radio1" value="Perros">Perros</input>
				<input type="radio" name="radio1" value="">Gatos</input>
			</div>

			<div class="formulario">
				<label for="marca">Marca:</label>
				<input type="checkbox" name="marca">Purina</input>
				<input type="checkbox" name="marca">Italcol</input>
			</div>
		</section>

		<section class="main">
			<div id="titulo">
				<h3>PRODUCTOS</h3>
			</div>
			<div class="productos">
				<div class="productos__item">
					<img class="productos__item--img" src="../media/imagen1.webp" alt="Imagen 1">
					<p>Royal Canin humedo</p>
					<p>Precio</p>
				</div>
				<div class="productos__item">
					<img class="productos__item--img" src="../media/imagen2.webp" alt="Imagen 2">
					<p>Royal Canin perros</p>
					<p>Precio</p>
				</div>
				<div class="productos__item">
					<img class="productos__item--img" src="../media/imagen3.webp" alt="Imagen 3">
					<p>Nutra nuggets - Perros</p>
					<p>Precio</p>
				</div>
				<div class="productos__item">
					<img class="productos__item--img" src="../media/imagen4.webp" alt="Imagen 4">
					<p>Taza para comida</p>
					<p>Precio</p>
				</div>
				<div class="productos__item">
					<img class="productos__item--img" src="../media/three-floor-cat-tree.jpg" alt="gimnasio gatos">
					<p>Gimnasio para gatos</p>
					<p>Precio</p>
				</div>
				<div class="productos__item">
					<img class="productos__item--img" src="../media/tower-cat.webp" alt="gimnasio y casa gatos">
					<p>Gimnasio y casa gatos</p>
					<p>Precio</p>
				</div>
				<div class="productos__item">
					<img class="productos__item--img" src="../media/comida-perro-1.png" alt="Comida perro humedo">
					<p>Comida humeda Hills</p>
					<p>Precio</p>
				</div>
				<div class="productos__item">
					<img class="productos__item--img" src="../media/comida-perro-2.webp" alt="Comida perro seco">
					<p>Comida perros Hills</p>
					<p>Precio</p>
				</div>
			</div>

		</section>

		<footer class="footer">
            <div class="footerRedes">
                <p>SIGUENOS:</p>
                <a href="#"><img src="../media/facebook.png" alt="facebook logo"></a>
                <a href="#"><img src="../media/twitter.png" alt="twitter logo"></a>
                <a href="#"><img src="../media/youtube.png" alt="youtube logo"></a>
            </div>
            <div class="footerDatos">
                <p>Dirección: Carrera 52D # 75 AA Sur - 280, Itaguí, Antioquia</p>
                <p>Telefono: +57-1-1234567 </p>
                <p>WhatsApp: +57 3112234567</p>
            </div>
        </footer>
	</div>

	<!-- Bootstrap JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>

</html>